/* common css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex_centre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  margin: auto;
}
/* navsection statrts here */
.top_navbar_wrapper {
  background-color: lightgrey;
}
.top_navbar {
  justify-content: space-between;
}
.logo {
  width: 40px;
}
img {
  width: 100%;
}
.nav_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav_container hr {
  background-color: black;
  height: 17px;
  margin: 0 8px;
  width: 2.5px;
}
.bottom_navbar_wrapper {
  position: relative;
}
.bottom_navbar {
  justify-content: space-between;
  align-items: center;
}
.bottom_navbar .nav_container {
  gap: 20px;
  padding: 5px;
  font-size: 25px;
}
.bottom_navbar .nav_container a:hover {
  border-bottom: 3px solid black;
}
.right_navbar_container {
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.right_navbar_container .input {
  position: relative;
}
.right_navbar_container .input input {
  height: 35px;
  border: none;
  background-color: gainsboro;
  border-radius: 15px;
}
.right_navbar_container .input i {
  position: absolute;
  top: 11px;
  left: 6px;
}
.right_navbar_container .input input::placeholder {
  color: grey;
  font-size: 15px;
  font-weight: 700;
  padding-left: 40px;
}

.bottom_navbar_container_list1 {
  position: absolute;
  top: 20px;
  left: 100px;

  margin-top: 20px;
  padding: 30px;
  justify-content: space-around;
  height: 400px;

  transition-property: all;
  transition-duration: 5s;
}
.botton_navbar_menu_container {
  justify-content: space-evenly;
  margin: 10px;
  position: absolute;
}
.bottom_navbar_menu_list {
  font-size: 15px;
}
.bottom_navbar_menu_list title {
  display: block;
  font-size: 20px;
  font-weight: 500;
}
